
@{
    ViewData["Title"] = "Project";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP</a>.</p>
        <p>The project number is @ViewData["ProjectNum"]</p>

    </div>