@model IEnumerable<aspNetCoreTicketSystem.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTale for Projects -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All projects for @User.Identity.Name</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display responsive nowrap" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Manager</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Manager</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProjectName</td>
                                    <td>@item.ProjectDescription</td>
                                    <td>@item.ProjectManager</td>
                                    <td>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-bars fa-sm fa-fw text-gray-800"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Project Actions:</div>
                                                <a class="dropdown-item" href="/Project/Edit/@item.ProjectId">Edit</a>
                                                <a class="dropdown-item" href="/Project/Details/@item.ProjectId">Tasks</a>
                                                <a class="dropdown-item" href="/Project/Delete/@item.ProjectId">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->